# IP-Address for incoming SIP-Traffic, in the following format:

# SIP / UDP
listen=udp:PCSCF_IP:5070
# SIP / TCP
listen=tcp:PCSCF_IP:5070

# IPSEC
#!define IPSEC_LISTEN_ADDR "PCSCF_IP"
#!define IPSEC_CLIENT_PORT 5072
#!define IPSEC_SERVER_PORT 5073

alias=pcscf.IMS_DOMAIN

auto_bind_ipv6=1

#!define PCSCF_URL "sip:pcscf.IMS_DOMAIN"

#!define TCP_PROCESSES 8

#!subst "/NETWORKNAME/IMS_DOMAIN/"
#!subst "/HOSTNAME/pcscf.IMS_DOMAIN/"
#!subst "/ICSCF/sip:icscf.IMS_DOMAIN:5060/"

# SIP-Address of capturing node, if not set, capturing is disabled.
##!define CAPTURE_NODE "sip:127.0.0.1:9060"

# Allowed IPs for XML-RPC-Queries
##!define XMLRPC_WHITELIST_1 "127.0.0.1"
##!define XMLRPC_WHITELIST_2 "127.0.0.1"
##!define XMLRPC_WHITELIST_3 "127.0.0.1"

# Databases:
##!define DB_URL "mysql://pcscf:imstest@127.0.0.1/pcscf"
##!define DB_URL2 "con2=>mysql://pcscf:imstest@127.0.0.1/pcscf"

##!define SQLOPS_DBURL "pcscf=>mysql://pcscf:imstest@127.0.0.1/pcscf"

##! Optional: Server-URL for Websocket-Requests
##!define WEBSOCKET_WEBSERVER "phone.ng-voice.com"

##!define TRF_FUNCTION "trf.mnc221.mcc302.3gppnetwork.org"

#
# Several features can be enabled using '#!define WITH_FEATURE' directives:
#
# *** To run in debug mode: 
#     - define WITH_DEBUG
#
# *** To enable nat traversal execute:
#     - define WITH_NAT
#     - define the connection to the RTP-Proxy: RTPPROXY_ADDRESS
#
# *** To force alls calls through the RTP-Proxy
#     - this will automagically enable NAT-Traversal
#     - define FORCE_RTPRELAY
#
# *** To enable TCP support execute:
#     - define WITH_TCP
#
#
# *** To enable anti-flood detection execute:
#     - adjust pike and htable=>ipban settings as needed (default is
#       block if more than 16 requests in 2 seconds and ban for 300 seconds)
#     - define WITH_ANTIFLOOD
#
# *** To enable the Rx-Interface:
#     - Configure Rx-Diameter-Interface in pcscf.xml
#     - define WITH_RX
#
# *** To enable a Homer SIP-Capter-Node:
#     - define CAPTURE_NODE with a proper address
#
# *** To enable support for the SEMS-SBC
#     - define WITH_SBC
#     - configure dispatcher-list with a set of SBC's

#
# Enabled Features for this host:
#!define WITH_DEBUG
#!define WITH_TCP
#!define WITH_IMS_HDR_CACHE
#!define WITH_IPSEC